<style>

#background {
  
  background-color: blue;
  opacity: .7;
}

  /* all h3 elements */
h3 {
  color: #9b111e;
  text-align: center;
}

/* use of decendent selector */
section li { 
  list-style: none;
  
}
/* all with class="highlight" */
.highlight {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  background-color: #9b111e;
  opacity: 1;
}

p {
  color: green ;
  font-size: 20px;
  }

h1 {
  color: black;
  font-size: 36px; 
}

a:link, a:visited {
  text-decoration: none;
  background-color: green;
  color: black;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
}

a:hover, a:active {
  background-color: #9b111e;
  color: purple;
} text-align: center;
}



/*using pseudo selector for lists*/


a:link, a:visited {
  text-decoration: none;
  background-color: green;
  border: 1px solid blue;
  color: black;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 2px;
}

a:hover, a:active {
  background-color: red;
  color: purple;
}

</style>